.comment {
    display: flex;
    flex-direction: row;
    padding: 15px;
}
.comment > .avatar > img {
    height: 32px;
    width: 32px;
    border-radius: 50px;
}
.comment > .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: #f2f2f2;
    border-radius: 10px;
    padding-left: 5px;
    margin-left: 10px;
}
.comment > .content > div > span {
    font-size: 14px;
    font-weight: bold;   
    padding-right: 5px;
}

.comment > .content > div {
    font-size: 14px;
    font-weight: normal;    
    padding: 5px;
    line-height: 1.5em;
    
}